<h1>Adicione um usuario:</h1>
<form action="/users/create" method="post" class="form">
<div class="form-control">
    <label for="name">Name:</label>
    <input type="text" name="name" id="" placeholder="Digite seu nome:">
</div>
<div class="form-control">
    <label for="ocuppation">Profissao:</label>
    <input type="text" name="ocuppation" id="" placeholder="Sua profissao:">
</div>
<div class="form-control form-checkbox">
    <input type="checkbox" name="newsletter" id="" checked>
    <label for="newsletter">Enviar Promoções?</label>
</div>
<input type="submit" value="Cadastrar">
</form>