<h1>Criar Producto</h1>
<form action="/products/create" method="post">
<div class="form-control">
    <label for="name">Nome do Produto:</label>
    <input type="text" name="name" placeholder="Informe o nome do produto">
</div>
<div class="form-control">
    <label for="price">Preço do Produto:</label>
    <input type="text" name="price" placeholder="Informe o preço do produto">
</div>
<div class="form-control">
    <label for="description">Descrição do Produto:</label>
    <textarea name="description" placeholder="Descreva o produto"></textarea>
</div>
<input type="submit" value="Cadastrar">
</form>