<h1>Cadastre o seu livro!</h1>
<form action="/books/insertbook" method="post" class="form">
<div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" id="" placeholder="Digite o titulo:">
</div>
<div class="form-control">
    <label for="pagesqty">Numero de Paginas</label>
    <input type="text" name="pageqty" id="" placeholder="Quantidade de Paginas:">
</div>
<input type="submit" value="Cadastrar">
</form>