<h1>Livros disponiveis!</h1>
<div class="books-container">
    {{#each books}}
        <div>Id: {{this.id}} - 
        <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span> 
        - {{this.pageqty}} paginas
        </div>
    {{/each}}
</div>