<h1>Ola handlebars</h1>
<p>O nome do usuario eh: {{user.name}} {{user.surname}} idade {{user.age}}</p>
<h2>{{palavra}}</h2>
{{#if auth}}
<p>Voce esta autenticado! <a href="/dashboard">Clique aqui</a> para acessar a area de membros</p>
{{/if}}